.confirm-container {
    position: absolute;
    top: 24px;
    background-color: var(--Dark-Grey);
    padding: 24px;
    border-radius: 12px;
    width: 327px;
    animation: slide-down-and-up 3.5s ease-in-out;
    animation-fill-mode: forwards;
}

.confirm-container > div {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 1.125rem;
    color: var(--White);
    margin-bottom: 0.5rem;
}

.confirm-container p {
    color: var(--Light-Green);
    font-size: 1rem;
}

@media (min-width: 32rem) {
    .confirm-container {
        width: unset;
    }
}

@keyframes slide-down-and-up {
    0% {
        transform: translateY(-200px);
    }
    10% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-200px);
    }
}